<!DOCTYPE html>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://d3js.org/d3-selection-multi.v0.4.min.js"></script>
<div class="chart">
  <svg width="1300" height="600"></svg>
</div>

<script>

//-------------------------------------- Set up the canvas ----------------------------------------------
// set the dimensions
var svg = d3.select("svg");
margin = {
  top: 100,
  right: 0,
  bottom: 50,
  left: 100
};
width = +svg.attr("width") - margin.left - margin.right;
height = +svg.attr("height") - margin.top - margin.bottom;

// set the dimensions for the graph
g = svg.append("g").attr("transform", 
  "translate(" + margin.left + "," + margin.top + ")");

// define the div for the tooltip (normally invisible)
var tooldiv = d3.select("body").append("div") 
  .attr("class", "tooltip")       
  .style("opacity", 0);

// define the div for the earth display (normally invisible)
var earthtext = d3.select("body").append("div")
  .attr("class", "earthtextbox")
  .style("opacity", 0);

//-------------------------------------- Import Data ----------------------------------------------

var graphData = {{ data.chart_data | safe }}
var ylabelData = {{ data.ylabel_data | safe }}

//--------------------------- Define other variables used by graph -----------------------------------

// FOR SCALING THE DATA

var x = d3.scaleBand()       // Main chart:  x-axis
  .range([0, width])  
  .paddingInner(0.1);

var x1 = d3.scaleLinear()    // Earth display
  .rangeRound([0,width/3])

var y0 = d3.scaleLinear()    // Main chart:  numerical y-axis (values)
  .rangeRound([height, 0]);

var y1 = d3.scalePoint()     // Main chart: categorical y-axis (dates)
  .range([height, 0]);

// FOR DEFINING THE AXIS RANGES

x.domain(graphData.map(function (d) {
    return d.year;
  }));

x1.domain([0, d3.max(graphData, function (d) {
  return Number(d.earth_Canada);
})]); 

y0.domain([0, d3.max(graphData, function (d) {
    return Number(d.od_world) + 17;
  })]); 

y1.domain(ylabelData.map(function (d) {
  return d.month;
}));

// FOR FRORMATTING 

var formatter = d3.timeFormat("%B %d");   // Dates in tooltip
graphData.forEach(function(d) {
    d.odate_world = formatter(new Date(d.odate_world))
    d.odate_can = formatter(new Date(d.odate_can))
});

var round = d3.format(".3n");              // Number in 'number of earths' text

// FOR MAXIMUM EARTHS

var earthmax = d3.max(graphData, function (d) {
  return Number(d.earth_Canada);
});

//-------------------------------------- Draw the Graph ------------------------------------------
function drawGraph(data) {

 // ADD THE ROW OF EARTH IMAGES (NORMALLY HIDDEN)

  g.append("defs")                                 // Create the fill pattern definition
    .append("pattern")
    .attr('id', 'earthfill')
    .attr('patternUnits', 'userSpaceOnUse')
    .attr('x', (width/2)-50)                       // Starting position (top left corner)
    .attr('y', 0)
    .attr('width', x1(1))                       // Width and height set using scaleLinear
    .attr('height', x1(1))                      
    .append("image")
    .attr("xlink:href", "static/img.svg")
    .attr('width', x1(1))                       // Image same size as pattern element
    .attr('height', x1(1));

  g.append("rect")
    .attr('id', 'earths')       
    .attr("x", (width/2)-50)   
    .attr("y", 0)         
    .style("fill", "url(#earthfill)")   
    .attr("height", x1(1))    
    .attr("width", x1(earthmax))
    .style("opacity", 0);    

  // ADD THE 'WORLD' BARS
  // To do: make this into a separate function

  g.selectAll(".bar1")
    .data(data)                               // Join new data with old elements, if any
    .enter().append("rect")                   // Create the new elements
    .attr("class", "bar1")
    .attr("x", function (d) {return x(d.year); })
    .attr("y", function (d) { return y0(Number(d.od_world)); })
    .attr("width", x.bandwidth())
    .attr("height", function (d) {return height - y0(Number(d.od_world)); })
    .on("mouseover", function(d) {    
        tooldiv.transition()       // For the tooltip    
          .duration(50)          // Note: Transition is a state change; can't create new elements    
          .style("opacity", .9)
          .attr("id", "tooldiv")      
          if (d.oyear === 1900) {   // Use different text in tooltip depending on field value
          tooldiv
            .html(d.year + "<br/>"  + "World Overshoot Day: "  + "<br/>"  + d.odate_world)
            .style("left", (d3.event.pageX) + "px")   
            .style("top", (d3.event.pageY) + "px")
          } else {
          tooldiv
            .html(d.year + "<br/>"  + "No World Overshoot Day")
            .style("left", (d3.event.pageX) + "px")   
            .style("top", (d3.event.pageY) + "px")
          }
        earthtext.transition()      // Transition in the text at the top of the chart    
          .duration(50)    
          .style("opacity", 1);  
        earthtext.html("Number of Earths Needed" + "<br/>" + 
          "To Sustain Us At This Level:" + "<br/>" + round(d.earth_World))
        g.selectAll("#earths")      // Show earths image bar (does this need to be selectAll??)
          .style("opacity", 1)
        g.append("rect")
          .attr("id", "earthHider")
          .attr("x", (width/2)-50 + x1(d.earth_World))
          .attr("y", 0)
          .attr("width", x1(earthmax - d.earth_World))
          .attr("height", x1(1))
          .style("fill", '#51637A');
        })          
    .on("mouseout", function(d) {   
        tooldiv.transition()    
          .duration(50)    
          .style("opacity", 0) 
        earthtext.transition()    
          .duration(50)    
          .style("opacity", 0) 
        g.selectAll("#earthHider").remove()
        g.selectAll("#earthtext").remove()
        g.selectAll("#earths")
          .style("opacity", 0);
         
    });

  // ADD THE 'CANADA' BARS

  g.selectAll(".bar2")
    .data(data)
    .enter().append("rect")
    .attr("class", "bar2")
    .attr("x", function (d) {return x(d.year); })
    .attr("y", function (d) {return y0(Number(d.od_can_pc)); })
    .attr("width", x.bandwidth())
    .attr("height", function (d) {return height - y0(Number(d.od_can_pc)); })
    .on("mouseover", function(d) {    
        tooldiv.transition()    // For the tooltip
          .duration(50)    
          .style("opacity", .9);   
        tooldiv.html(d.year + "<br/>"  + "Canada Overshoot Day: "  + "<br/>"  + d.odate_can)
          .style("left", (d3.event.pageX) + "px")   
          .style("top", (d3.event.pageY) + "px")
        earthtext.transition()    // Transition in the text at the top of the chart
          .duration(50)    
          .style("opacity", 1);  
        earthtext.html("Number of Earths Needed" + "<br/>" + 
          "To Sustain Us At This Level:" + "<br/>" + round(d.earth_Canada))
        g.selectAll("#earths")    // Show earths image bar (does this need to be selectAll??)
          .style("opacity", 1)
        g.append("rect")
          .attr("id", "earthHider")
          .attr("x", (width/2)-50 + x1(d.earth_Canada))
          .attr("y", 0)
          .attr("width", x1(earthmax - d.earth_Canada))
          .attr("height", x1(1))
          .style("fill", '#51637A');
        })           
   .on("mouseout", function(d) {   
        tooldiv.transition()    
          .duration(50)    
          .style("opacity", 0) 
        earthtext.transition()    
          .duration(50)    
          .style("opacity", 0) 
        g.selectAll("#earthHider").remove()
        g.selectAll("#earthtext").remove()
        g.selectAll("#earths")
          .style("opacity", 0);
    });  

  // ADD THE AXES

  // x axis
  g.append("g")
    .attr("class", "axisWhite")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x))
  .selectAll("text")
    .attr("y", 0)
    .attr("x", 8)
    .attr("dy", ".35em")
    .attr("transform", "rotate(90)")
    .style("text-anchor", "start")

  var ticks = d3.selectAll(".tick text");
    ticks.attr("class", function(d,i){
        if(i%3 != 0) d3.select(this).remove();
    });

  // y axis
  g.append("g")
    .attr("class", "axisWhite")
    .call(d3.axisLeft(y1))

  // ADD THE TITLES

  // chart
  g.append("text")
    .attr("fill", "#E5E6DA")
    .attr("x", (width / 2))
    .attr("y", 2 - (margin.top / 2))
    .attr("text-anchor", "middle")
    .attr("font-family", "Arial, Helvetica, sans-serif")
    .style("font-size", "30px")
    .text("Overshoot Days: Canada and the World")

  // y axis
  g.append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 20  - margin.left)
    .attr("x", 0 - (height / 2))
    .attr("dy", "0.8em")
    .attr("font-family", "Arial, Helvetica, sans-serif")
    .style("text-anchor", "middle")
    .style("font-size", "20px")
    .style("fill", '#96ADCB')
    .text("Month When We Fall Into Ecological Debt")

  // ADD OTHER ELEMENTS

  // fill area
  g.append("g")
    .append("rect")
    .attr('x', 0)
    .attr('y', 0)
    .attr('width', 200)
    .attr('height', y0(365))
    .style("fill", '#51637A' )
    .style("opacity", .7 )

  // horizontal line
  g.append("g")
    .attr("class", "line")
    .append("line")
    .attr("x1", 0)
    .attr("x2", width)
    .attr("y1", y0(365))
    .attr("y2", y0(365))

  // text on horizontal line
  g.append("text")
    .attr("x", 10)
    .attr("y", y0(375))
    .text("No Overshoot Above This Line")
    .attr("fill", "#E5E6DA")
    .attr("font-family", "Arial, Helvetica, sans-serif")
    };

drawGraph(graphData);

</script>

</body>

</html>

