<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <svg width="960" height="500"></svg>
  <style>
    .bar1 {
      fill: steelblue;
      opacity: 0.9;
    }

    .bar1:hover {
      fill: brown;
      opacity: 1;
    }

    .bar2 {
      fill: #006633;
      opacity: 0.7;
    }

    .bar2:hover {
      fill: brown;
      opacity: 1;
    }


  </style>
</head>
<body>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script>

var svg = d3.select("svg"),
margin = {
  top: 50,
  right: 20,
  bottom: 30,
  left: 65
},
width = +svg.attr("width") - margin.left - margin.right,
height = +svg.attr("height") - margin.top - margin.bottom,

g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var x = d3.scaleBand()
  .range([0, width])  // changed from rangeRound to remove whitespace
  .paddingInner(0.1);
  

var y = d3.scaleLinear()
  .rangeRound([height, 0]);

var graphData = {{ data.chart_data | safe }}

function drawGraph(data) {
  //scale the range of the data
  x.domain(data.map(function (d) {
      return d.year;
    }));
  y.domain([0, d3.max(data, function (d) {
        return Number(d.od_world);
      })]);

  // add the x axis
  g.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x))
    .selectAll("text")
      .attr("y", 0)
      .attr("x", 8)
      .attr("dy", ".35em")
      .attr("transform", "rotate(90)")
      .style("text-anchor", "start");

  // add the y axis
  g.append("g")
      .call(d3.axisLeft(y))
      .append("text")
      .attr("fill", "#000")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", "0.71em");

  
  // add the chart title
  g.append("text")
      .attr("x", (width / 2))
      .attr("y", 2 - (margin.top / 2))
      .attr("text-anchor", "middle")
      .attr("font-family", "Arial, Helvetica, sans-serif")
      .style("font-size", "16px")
      .text("Overshoot Days Since 1961")

  // add the y axis title
  g.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 0  - margin.left)
      .attr("x", 0 - (height / 2))
      .attr("dy", "0.8em")
      .attr("font-family", "Arial, Helvetica, sans-serif")
      .style("text-anchor", "middle")
      .text("Overshoot Date")

  // add the bars
  g.selectAll(".bar1")
      .data(data)
      .enter().append("rect")
      .attr("class", "bar1")
      .attr("x", function (d) {
        return x(d.year);
      })
      .attr("y", function (d) {
        return y(Number(d.od_world));
      })
      .attr("width", x.bandwidth())
      .attr("height", function (d) {
        return height - y(Number(d.od_world));
      });

  g.selectAll(".bar2")
      .data(data)
      .enter().append("rect")
      .attr("class", "bar2")
      .attr("x", function (d) {
        return x(d.year);
      })
      .attr("y", function (d) {
        return y(Number(d.od_can_pc));
      })
      .attr("width", x.bandwidth())
      .attr("height", function (d) {
        return height - y(Number(d.od_can_pc));
      });

};

drawGraph(graphData);

</script>

</body>

</html>

