<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <style>
    .bar1 {
      fill: #E5E6DA;
      opacity: 0.9;
    }

    .bar1:hover {
      fill: #F3B63D;
      opacity: 1;
    }

    .bar2 {
      fill: #4E7C4E;
      opacity: 0.7;
    }

    .bar2:hover {
      fill: #3F643B;
      opacity: 1;
    }

    .line {
      fill: none;
      stroke: #96ADCB;
      stroke-width: 1px;
      stroke-dasharray: 5,5; 
    }

    .axisWhite line{
      stroke: #96ADCB;
      stroke-width: 1px;

    }

    .axisWhite path{
      stroke: #96ADCB;
    }

    .axisWhite text{
      fill: #96ADCB;
      font-size: 13px;
    }
    div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 120px;          
    height: 44px;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}
    .earths { 
    position: absolute;     
    text-align: center;     
    width: 120px;          
    height: 44px;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: #96ADCB; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}
    body {
    background: #51637A; 
    }

  </style>
</head>
<body>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://d3js.org/d3-selection-multi.v0.4.min.js"></script>
<div class="chart">
  <svg width="1300" height="600"></svg>
</div>

<script>
// set the dimensions for the canvas
var svg = d3.select("svg"),
margin = {
  top: 100,
  right: 0,
  bottom: 50,
  left: 100
},
width = +svg.attr("width") - margin.left - margin.right,
height = +svg.attr("height") - margin.top - margin.bottom,

// set the dimensions or the graph
g = svg.append("g").attr("transform", 
  "translate(" + margin.left + "," + margin.top + ")");


// these variables scale data relative to the svg canvas 
var x = d3.scaleBand()
  .range([0, width])  
  .paddingInner(0.1);

var x1 = d3.scaleLinear()  // for earth display
  .rangeRound([0,width/3])

var y0 = d3.scaleLinear()
  .rangeRound([height, 0]);

var y1 = d3.scalePoint()
  .range([height, 0]);


// import data from views.py (in JSON)
var graphData = {{ data.chart_data | safe }}
var ylabelData = {{ data.ylabel_data | safe }}

// define the div for the tooltip (normally invisible)
var tooldiv = d3.select("body").append("div") 
    .attr("class", "tooltip")       
    .style("opacity", 0);

// define the div for the earth display 
var earthdiv = d3.select("body").append("div")
    .attr("class", "earths")
    .style("opacity", 0);

// create a date formatter (used in tooltip)
var formatter = d3.timeFormat("%B %d");
graphData.forEach(function(d) {
    d.odate_world = formatter(new Date(d.odate_world))
});
graphData.forEach(function(d) {
    d.odate_can = formatter(new Date(d.odate_can))
});



// draw the graph
function drawGraph(data) {

  // define the ranges for the axes
  x.domain(graphData.map(function (d) {
      return d.year;
    }));

  // define the range
  x1.domain([0, d3.max(graphData, function (d) {
    return Number(d.earth_World);
  })]); 

  y0.domain([0, d3.max(graphData, function (d) {
      return Number(d.od_world) + 17;
    })]); 

  y1.domain(ylabelData.map(function (d) {
    return d.month;
  }));

 g.append("defs")
      .append("pattern")
      .attr('id', 'earthfill')
      .attr('patternUnits', 'userSpaceOnUse')
      .attr('width', 100)
      .attr('height', 100)
      .append("image")
      .attr("xlink:href", "static/img.svg")
      .attr('width', 100)
      .attr('height', 100);


  g.selectAll("earths")
      .data(data)
      .enter().append("rect")
      .attr('id', 'earths')       
      .attr("x", (width/3))        // position the left of the rectangle
      .attr("y", 0)         // position the top of the rectangle
      //.attr("clip-path", "url(#ellipse-clip)") // clip the rectangle
      .style("fill", "url(#earthfill)")   // fill the clipped path with grey
      .attr("height", 100)    // set the height
      .attr("width", function (d) {return x1(d.earth_World); })    // set the width

  var earthwidth = d3.max(graphData, function (d) {
      return Number(d.earth_World);
    })

  // add the bars - World
  g.selectAll(".bar1")
      .data(data)
      .enter().append("rect")
      .attr("class", "bar1")
      .attr("x", function (d) {return x(d.year); })
      .attr("y", function (d) { return y0(Number(d.od_world)); })
      .attr("width", x.bandwidth())
      .attr("height", function (d) {return height - y0(Number(d.od_world)); })
      .on("mouseover", function(d) {    
          tooldiv.transition()    
              .duration(200)    
              .style("opacity", .9);   
          tooldiv.html(d.year + "<br/>"  + "World Overshoot: "  + "<br/>" + d.odate_world)
              .style("left", (d3.event.pageX) + "px")   
              .style("top", (d3.event.pageY) + "px")  

          g.selectAll("#earths")
              .style("opacity", 1)
          g.selectAll('earthdiv')
              .data(data, function (d) {return x1(Number(d.earth_World)); })
              .enter().append("rect")
             // .attr("class", "bar1")
              //.style('fill', 'url(#imagepattern)')
              .attr("id", "myBar")
              .attr("x", (width/3))
              .attr("y", 0)
              .attr("width", x1(earthwidth - d.earth_World))
              .attr("height", 100);
          })          
      .on("mouseout", function(d) {   
          tooldiv.transition()    
              .duration(500)    
              .style("opacity", 0) 
          g.selectAll("#myBar").remove()
          g.selectAll("#earths")
              .style("opacity", 0);
           
      });

  // add the bars - Canada
  g.selectAll(".bar2")
      .data(data)
      .enter().append("rect")
      .attr("class", "bar2")
      .attr("x", function (d) {
        return x(d.year);
      })
      .attr("y", function (d) {return y0(Number(d.od_can_pc)); })
      .attr("width", x.bandwidth())
      .attr("height", function (d) {return height - y0(Number(d.od_can_pc)); })
      .on("mouseover", function(d) {    
          tooldiv.transition()    
              .duration(200)    
              .style("opacity", .9);   
          tooldiv.html(d.year + "<br/>"  + "Canada's Overshoot: "  + "<br/>"  + d.odate_can)
              .style("left", (d3.event.pageX) + "px")   
              .style("top", (d3.event.pageY) + "px");  
          })            
      .on("mouseout", function(d) {   
          tooldiv.transition()    
              .duration(500)    
              .style("opacity", 0); 

      });   

  // add the x axis
  g.append("g")
      .attr("class", "axisWhite")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x))

    .selectAll("text")
      .attr("y", 0)
      .attr("x", 8)
      .attr("dy", ".35em")
      .attr("transform", "rotate(90)")
      .style("text-anchor", "start")

    var ticks = d3.selectAll(".tick text");
      ticks.attr("class", function(d,i){
          if(i%3 != 0) d3.select(this).remove();
      });

  // add the y axis
  g.append("g")
      .attr("class", "axisWhite")
      .call(d3.axisLeft(y1))

  // add the chart title
  g.append("text")
      .attr("x", (width / 2))
      .attr("y", 2 - (margin.top / 2))
      .attr("text-anchor", "middle")
      .attr("font-family", "Arial, Helvetica, sans-serif")
      .style("font-size", "30px")
      .style("fill", '#E5E6DA')
      .text("Overshoot Days: Canada and the World")

  // add the y axis title
  g.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 20  - margin.left)
      .attr("x", 0 - (height / 2))
      .attr("dy", "0.8em")
      .attr("font-family", "Arial, Helvetica, sans-serif")
      .style("text-anchor", "middle")
      .style("font-size", "20px")
      .style("fill", '#E5E6DA')
      .text("Month When We Reach Earth's Limits")

  // add the fill area
  //g.append("path")
  //    .attr("class", "area")
  //    .call(area.y([height]))

  // add the horizontal line
  g.append("g")
      .attr("class", "line")
      .append("line")
      .attr("x1", 0)
      .attr("x2", width)
      .attr("y1", y0(365))
      .attr("y2", y0(365))

      };

drawGraph(graphData);

</script>

</body>

</html>

